{% extends "templates/layout.html" %}

{% block title %}
    blog
{% endblock %}


{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />
<style>
	.custom-separator {
		border-top: 2px solid #010e84;
	}
</style>

	<div class="container" style="background-color: rgb(253, 255, 237); padding-top: 150px;">
		<div class="container-fluid">
			<div class="row fh5co-post-entry">
				<article class="animate-box" style="text-align:center; margin:0 auto; ">
					<figure>
						<a><img src="static/images/about/h.jpg" alt="Image" class="img-responsive" ></a>
					</figure>
					<a  href="static/download/Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow.pdf" download>download book</a>
				</article>
			</div>
		</div>

	</div>

	<span> </span>
	<h2>  </h2>
	<div style="padding-left: 400px; padding-right: 400px;">
		<div class="card text-bg-info mb-3" style="background-color:rgb(255, 255, 255); margin-top: 40px; border-radius: 15px;">
			<div class="card-header"><h3>Comments :</h3></div>
				{% for comment , username in all_comments %}
					<div class="card-body">
						<p class="card-text" style="font-size:larger; font-weight:bold;"> {{ username }} :</p>
						<h6 class="card-title" style="padding-left: 10px;"> {{ comment | safe }} </h6>                                                            
						<hr class="custom-separator">
					</div>
				{% endfor %}
		</div>
		<!-- comment form -->
		<!-- bc we have 2 form , we should define action to prevent conflict between them for recieving data in frontend-->
		<form  method="post" action="/add_comment" style="padding-top: 50px; padding-bottom: 60px;"> 
			<div class="mb-3" >
				<label for="exampleFormControlTextarea1" class="form-label" style="color: black; font-size:larger">Write a Comment </label>
				<textarea id="editor" name="text" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea><!-- textarea should have a name to read its text in backend-->
			</div>
			<button type="submit" class="btn-lg btn-primary " style="background-color:rgb(17, 160, 255); padding-top: 0px;">Submit</button>
		</form>
	</div>


    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.1/"
            }
        }
    </script>


    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Bold,
            Italic,
            Font,
            Paragraph
        } from 'ckeditor5';
    
        ClassicEditor
            .create( document.querySelector( '#editor' ), {
                plugins: [ Essentials, Bold, Italic, Font, Paragraph ],
                toolbar: {
                    items: [
                        'undo', 'redo', '|', 'bold', 'italic', '|',
                        'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
                    ]
                }
            } )
            .then( /* ... */ )
            .catch( /* ... */ );
    </script>
    



{% endblock %}