{% extends "templates/layout.html" %}

{% block title %}
    contact
{% endblock %}


{% block content %}
<section id="contact" class="contact" >
	<div class="section-heading text-center" style="padding-top: 55px;">
		<h2>contact me</h2>
	</div>
	<div class="container" style="background-color: rgb(219, 196, 254);  padding-bottom: 40px;">
		<div class="contact-content">
			<div class="row">
				<div class="col-md-offset-1 col-md-5 col-sm-6">
					<div class="single-contact-box">
						<div class="contact-form">
							<form>
								<div class="row">
									<div class="col-sm-4 col-xs-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" placeholder="UserName" name="username">
										</div>
									</div>
									<div class="col-sm-8 col-xs-12">
										<div class="form-group">
											<input type="email" class="form-control" id="email" placeholder="Email" name="email">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<textarea class="form-control" rows="8" id="comment" placeholder="Message" ></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="single-contact-btn">
											<a class="contact-btn" href="#" role="button">submit</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-offset-1 col-md-5 col-sm-6">
					<div class="single-contact-box">
						<div class="contact-adress">
							<div class="contact-add-head">
								<h3>Kiana Jahanshid</h3>
								<p>Junior AI Programmer</p>
							</div>
							<div class="contact-add-info">
								<div class="single-contact-add-info">
									<h3>phone</h3>
									<p>0989213302827</p>
								</div>
								<div class="single-contact-add-info">
									<h3>email</h3>
									<p>k.jhnshid@gmail.com</p>
								</div>
							</div>
						</div>
						<div class="hm-foot-icon">
							<ul>
								<li><a href="https://github.com/kiana-jahanshid"><i class="fa fa-github"></i></a></li>
								<li><a href="https://www.linkedin.com/in/kiana-jahanshid/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}