{% extends "templates/layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category , message in messages %}
			<div class="alert alert-{{ category }}" role="alert" style="padding-top:100px; padding-bottom:5px;">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}

<section id="welcome-hero" class="welcome-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="header-text">
					<h2>Hi <span>,</span> i am <br> Kiana <br> Jahanshid <span>.</span>   </h2>
					<p>A junior AI programmer</p>
					<a href="static/download/Resume.pdf" download>download resume</a>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="home" class="home">
	<div class="section-heading text-center">
		<h3>   </h3>
		<h2>about me</h2>
	</div>
	<div class="container">
		<div class="about-content">
			<div class="row">
				<div class="col-sm-7">
					<div class="single-about-txt">
						<h3>
							I am Kiana, an AI engineer with a passion for research and a curiosity for learning new things in this ever-evolving field. 
						</h3>
						<p>
							I am dedicated to exploring the latest advancements in artificial intelligence and applying them to create innovative solutions. Join me on this exciting journey as we delve into the world of artificial intelligence together. 
						</p>
						<div class="row">
							<div class="col-sm-4">
								<div class="single-about-add-info">
									<h3>phone</h3>
									<p>0989213302827</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="single-about-add-info">
									<h3>email</h3>
									<p>k.jhnshid@gmail.com</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-offset-1 col-sm-4">
					<div class="single-about-img">
						<img src="static/images/about/ME.jpg" alt="ME">
						<div class="about-list-icon">
							<ul>
								<li>
									<a href="https://www.linkedin.com/in/kiana-jahanshid/">
										<i  class="fa fa-linkedin" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://github.com/kiana-jahanshid"> 
										<i  class="fa fa-github" aria-hidden="true"></i>
									</a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="education" class="education">
	<div class="section-heading text-center">
		<h2>education</h2>
	</div>
	<div class="container">
		<div class="education-horizontal-timeline">
			<div class="row">
				<div class="col-sm-6">
					<div class="single-horizontal-timeline">
						<div class="experience-time">
							<h2>2018 - 2021</h2>
							<h3>Master <span>Of </span> Computer Engineering - artificial intelligence</h3>
						</div>
						<div class="timeline-horizontal-border">
							<i class="fa fa-circle" aria-hidden="true"></i>
							<span class="single-timeline-horizontal"></span>
						</div>
						<div class="timeline">
							<div class="timeline-content">
								<h4 class="title">
									ferdowsi university
								</h4>
								<h5>Iran , Mashhad</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="single-horizontal-timeline">
						<div class="experience-time">
							<h2>2012 - 2017</h2>
							<h3>Bachelor <span>Of </span> Computer Engineering - Hardware </h3>
						</div>
						<div class="timeline-horizontal-border">
							<i class="fa fa-circle" aria-hidden="true"></i>
							<span class="single-timeline-horizontal"></span>
						</div>
						<div class="timeline">
							<div class="timeline-content">
								<h4 class="title">
									Islamic Azad university of South Tehran Branch
								</h4>
								<h5>Iran, Tehran</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="skills" class="skills">
	<div class="skill-content">
		<div class="section-heading text-center">
			<h2>skills</h2>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="single-skill-content">
						<div class="barWrapper">
							<span class="progressText">Python</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="10" aria-valuemax="100" >
											
									</div>
								</div>
								<h3>60%</h3>	
							</div>
						</div>
						<div class="barWrapper">
							<span class="progressText">Tensorflow</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="10" aria-valuemax="100" >
										
									</div>
								</div>
								<h3>40%</h3>	
							</div>
						</div>
						<div class="barWrapper">
							<span class="progressText">Pandas</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="10" aria-valuemax="100" >
										
									</div>
								</div>
								<h3>45%</h3>	
							</div>
						</div>
						<div class="barWrapper">
							<span class="progressText">OpenCV</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="10" aria-valuemax="100" >
										
									</div>
								</div>
								<h3>40%</h3>	
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="single-skill-content">
						<div class="barWrapper">
							<span class="progressText">FastAPI</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="10" aria-valuemax="100" >
										
									</div>
								</div>
								<h3>10%</h3>	
							</div>
						</div>
						<div class="barWrapper">
							<span class="progressText">Flask</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="3" aria-valuemin="10" aria-valuemax="100" >
										
									</div>
								</div>
								<h3>3%</h3>	
							</div>
						</div>
						<div class="barWrapper">
							<span class="progressText">Git</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="10" aria-valuemax="100" >
										
									</div>
								</div>
								<h3>20%</h3>	
							</div>
						</div>
						<div class="barWrapper">
							<span class="progressText"> English language </span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="10" aria-valuemax="100" >
										
									</div>
								</div>
								<h3>70%</h3>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</section>

{% endblock %}