{% extends "templates/layout.html" %}

{% block title %}
    login
{% endblock %}


{% block content %}

        <div class="container" style="padding-top: 160px;">
        <input type="checkbox" id="flip">
        <div class="forms" >
            <div class="form-content" >

            <div class="login-form" style="margin:0 auto;">
                <div class="title">Login</div>
                <form method="POST">
                <div class="input-boxes">
                    <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Username" name="username" required>
                    </div>
                    <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" name="password" required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Confirm Password" name="confirm_password" required>
                        </div>
                        
                        <div class="button input-box">
                            <input type="submit" value="Sumbit">
                        </div>
                    <div class="text sign-up-text">Don't have an account? <a href="/register"><u for="flip">Register Now</u></a></div>
                </div>
            </form>
            </div>

        </div>
        </div>
        </div>

        
{% endblock %}